.card {
  @apply rounded-3xl overflow-hidden relative font-semibold text-xl bg-white w-full; 
  min-height: 19rem;
  box-shadow: 0px 6.15603px 30.7801px rgba(132, 145, 170, 0.19);
  max-width: 376px;

  @media (min-width: 768px) {
    width: calc(50% - 2.5rem);
  }

  @media (min-width: 1024px) {
    width: calc(25% - 2.5rem);
  }
}

.content {
  padding: 20px 80px 20px 35px;
}
