
.card {
  @apply rounded-3xl overflow-hidden relative font-semibold text-lg md:text-xl lg:text-lg xl:text-xl bg-white w-full; 
  min-height: 15rem;
  box-shadow: 0px 6px 30px rgba(132, 145, 170, 0.2);
  max-width: 376px;

  @media (min-width: 768px) {
    width: calc(50% - 2.5rem);
    min-height: 19rem;
  }

  @media (min-width: 1024px) {
    width: calc(25% - 2.5rem);
  }

  .image {
    min-height: 58%;
    position: relative;
  }

  &:hover {
    box-shadow: 0px 6px 30px rgba(100, 100, 100, 0.3);

    .image {
      transition: 300ms;
      transform: scale(1.01);
    }
  }
}

.content {
  @apply px-5 py-3 md:p-5 lg:p-2 xl:p-5;
}
