.containerServices {
    @apply flex items-center flex-col lg:flex-row min-h-screen lg:min-h-fit;

    .boxImage {
        @apply overflow-hidden relative font-semibold text-lg md:text-xl lg:text-lg xl:text-xl w-full h-full;
        height: 50vh;

        @media (min-width: 1024px) {
            height: 500px;
            max-width: 900px;
        }
    }

    .boxServices {
        @apply lg:ml-28 lg:max-w-screen-sm p-6 lg:py-0;
    }

    .title {
        @apply text-xl lg:text-4xl mb-5 lg:mb-10 font-bold lg:pt-0;
    }

    .caption {
        @apply lg:text-xl pb-9;
    }
}
