.post {
  @apply max-w-full overflow-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-left;
  }

  h1 {
    color: #333;
    margin: 1rem 0;
  }

  h2 {
    color: #cea67e;
    margin: 1rem 0;
  }

  h3,
  h4 {
    color: #2a3770;
  }
}
