@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", $default-font;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

iframe {
  @apply m-0 lg:m-auto;
  max-width: calc(100vw - 5rem);
}

@layer components {
  .btn {
    &__white {
      @apply mt-10 py-2 px-5 font-bold text-xl border border-solid text-white border-white rounded-full hover:bg-white hover:text-amber-900;
    }

    &__blue-filled {
      @apply mt-10 py-2 px-10 font-bold text-xl border border-solid rounded-full bg-blue-900 text-white hover:text-blue-900 hover:border-blue-900 hover:bg-transparent;
    }

    &__blue {
      @apply mt-10 py-2 px-10 font-bold text-xl border border-solid text-blue-900 border-blue-900 rounded-full hover:bg-blue-900 hover:text-white;
    }
  }
}
