.cover {
  @apply p-8 lg:p-12 flex flex-col items-start justify-center m-auto gap-5 overflow-hidden;

  .title {
    @apply text-2xl w-full lg:text-5xl lg:max-w-xl z-10 font-bold text-white pb-3 lg:pt-8;

    @media (min-width: 1024px) {
      line-height: 61px;
    }
  }

  .mainConteiner {
    @apply flex justify-between items-center w-full lg:ml-8 min-w-max;
  }

  .mainParagraph {
    @apply text-white lg:text-lg xl:text-xl pt-10;
    line-height: 34px;
    max-width: 534px;
    font-weight: 400;
  }

  .mainButton {
    @apply mt-10 text-white font-bold text-xl border-solid border-white rounded-full hover:bg-white hover:text-yellow-900;
    border-width: 1px;
    height: 61px;
    width: 254px;
  }

  .backgroundContainer {
    @apply absolute w-full h-screen top-0 left-0 -z-10;
    min-height: 1084px;
  }

  .caption {
    width: calc(100vw - 5rem);

    @media (min-width: 1024px) {
      @apply w-auto min-w-fit;
    }
  }

  .captionLogo {
    @apply w-full hidden lg:grid place-items-center -mt-20 pointer-events-none select-none;
  }

  .logoContainer {
    @apply hidden lg:block relative lg:m-5 w-0 lg:w-60 xl:w-80;
    height: 420px;
  }
}

.cardsConteiner {
  @apply flex justify-evenly flex-wrap mt-16 gap-10 px-8 md:px-0;
}

.postsSection {
  @apply lg:bg-gray-100 rounded-3xl justify-center flex flex-wrap items-center gap-4 lg:p-4 py-7 lg:mx-7 mb-6;
  
  @media (min-width: 1024px) {
    background: linear-gradient(93.21deg, #f6f6fb 2.88%, #f9f9f9 93.14%);
    padding-bottom: 3rem;
  }

  h2 {
    @apply flex justify-center text-2xl lg:text-5xl font-bold lg:mt-10;
  }
}

.postsContainer {
  @apply relative w-full flex flex-col items-center p-6 lg:p-12 gap-8 m-auto md:flex-row lg:justify-between;
}
