@import '../../styles/variables.scss';

.cover {
  @apply p-8 lg:p-12 flex relative lg:static flex-col items-start justify-center m-auto gap-5 overflow-hidden;

  .title {
    @apply text-2xl w-full lg:text-5xl lg:max-w-xl z-10 font-bold text-white pb-3 pt-8 lg:pt-8;

    @media (min-width: 1024px) {
      line-height: 61px;
    }
  }

  .mainConteiner {
    @apply flex justify-between items-center w-full lg:ml-8 min-w-max;
  }

  .mainParagraph {
    @apply text-white lg:text-lg xl:text-xl pt-5 lg:pt-10;
    line-height: 34px;
    max-width: 534px;
    font-weight: 400;
  }

  .mainButton {
    @apply mt-10 text-white font-bold text-xl border-solid border-white rounded-full hover:bg-white hover:text-yellow-900;
    border-width: 1px;
    height: 61px;
    width: 254px;
  }

  .backgroundContainerMobile {
    @apply absolute top-0 left-0 w-screen -z-10 lg:hidden;
    height: 100%;
    min-height: 600px;
    max-height: 1000px;
  }

  .backgroundContainer {
    @apply absolute hidden lg:block w-full h-screen top-0 left-0 -z-10 m-auto 2xl:-translate-x-1/2 2xl:left-1/2;
    height: 1084px;
    max-width: $max-width;
  }

  .caption {
    width: calc(100vw - 5rem);

    @media (min-width: 1024px) {
      @apply w-auto min-w-fit;
    }
  }

  .captionLogo {
    @apply w-full hidden lg:grid place-items-center -mt-20 pointer-events-none select-none;
  }

  .logoContainer {
    @apply hidden lg:block relative lg:m-5 w-0 lg:w-60 xl:w-80;
    height: 420px;
  }
}

.cardsConteiner {
  @apply flex justify-evenly flex-wrap gap-10 px-6 lg:px-10;
  margin-top: 65px;
}
